*{
    margin: 0;
    padding: 0;
}
#box{
    display: flex;
}
#box1{
    height:900px;
    width:62%;
    
}
#box1 img{
    margin-left: 125px;
    height: 35px;
    width: 150px;
    padding-top: 60px;
}
#box2{
    background-color: #f5f5f5;
    height:1400px;
    width:46%;
    
}
#box1 p{
    margin-left: 125px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color:#323232;
    margin-top: 35px;
}

#box2 :nth-child(1){
    display: flex;
}
#box2 :nth-child(1) img{
    margin-top: 65px;
    margin-left: 46px;
    height:65px;
    width:65px;
    border-radius: 10px;
}
#box2 :nth-child(1) p{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color:#313131;
    font-weight: bold;
    width:180px;
    margin-top: 65px;
    margin-left: 30px;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 46px;
    margin-right: 146px;
}
#box2 :nth-child(3){
    display: flex;
}
#box2 :nth-child(3) input{
    margin-left: 46px;
    height:44px;
    width:250px;
    border:none;
    border: 1px solid;
    color: gray;
    border-radius: 5px;
    padding-left: 20px;
    
}
#box2 :nth-child(3) button{
    margin-left: 10px;
    width:100px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #c4c4c4;
    cursor: pointer;
}
#box2 :nth-child(5){
    display: flex;
}
#box2 :nth-child(6){
    display: flex;
}
#box2 :nth-child(5) p{
    margin-left: 46px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    margin-bottom: 15px;
}
#box2 :nth-child(5) p:nth-child(2){
    margin-left: 265px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    font-weight: bold;
}
#box2 :nth-child(6) p{
    margin-left: 46px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #515151;
}
#box2 :nth-child(6) p:nth-child(2){
    margin-left: 297px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #515151;
    font-weight: bold;
}
#box2 :nth-child(8){
    display: flex;
}
#box2 :nth-child(8) p:nth-child(1){
    margin-left: 46px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: black;
    font-weight: bold;
}
#box2 :nth-child(8) p:nth-child(2){
    margin-left: 240px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #515151;
}
#box2 :nth-child(8) p:nth-child(3){
    margin-left:10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: black;
    font-weight: bold;
}
#box1 :nth-child(6){
    margin-left: 20px;
    height:460px;
    width:584px
}
#box1 :nth-child(3){
    height:112px;
    width:578px;
    margin-top: -34px;
    margin-left: 120px;
    cursor: pointer;
}
#box1 :nth-child(4){
    font-family: sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
#box1 :nth-child(5){
    font-family: sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #333333;
    margin-top: 8px;
}
#box1 :nth-child(6){
    height:450px;
    width: 576px;
    margin-left: 116px;
    margin-top: -40px;
    cursor: pointer;
}
#box1 :nth-child(7){
    font-family: sans-serif;
    font-size: 18px;
    line-height: 23px;
    color:#333333;
}
#box1 :nth-child(8){
    font-family: sans-serif;
    font-size: 14px;
    line-height: 21px;
    color:#333333;
    margin-top: 10px;
}
#box1 :nth-child(9){
    height:109px;
    width:576px;
    margin-top: -20px;
    margin-left: 120px;
    cursor: pointer;
}
#box1 :nth-child(10){
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    color:#323232;
    cursor: pointer;
}
#box1 :nth-child(11) button{
    height:56px;
    width:147px;
    border: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-left: 544px;
    margin-top: -40px;
    cursor: pointer;
}
#box1 :nth-child(12){
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#box1 :nth-child(14){
    display: flex;
}
#box1 :nth-child(14) p{
    margin-top: 0;
    width: 100px;
    margin-right: 0;
    padding-right: 0;
    cursor: pointer;
}
.hr{
    margin-left: 0;
    margin-right: 0;
}